:root {
    --goldTitle: #c89b3c;
    --melon: #f18684;
}

@font-face {
    font-family: Beaufort;
    src: url(../fonts/beaufort/BeaufortforLOL-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f8d3d387115887.5dae6de65de34.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* ------------------------- GLOBAL CLASSES --------------------------------- */

.backgroundContainer {
    background-color: #0a1428b4;
    padding: 3rem;
    margin: 1.5rem;
    border-radius: 5px;
    text-align: center;
    max-width: 565px;
    color: #a09b8c;
}

.backgroundContainer h1 {
    color: var(--goldTitle);
    font-family: Beaufort, Arial, Helvetica, sans-serif;
}

.backgroundContainer h2 {
    color: rgb(218, 218, 218);
    font-family: Beaufort, Arial, Helvetica, sans-serif;
}

.noStyleList {
    list-style: none;
}

.noTextDecorLink {
    text-decoration: none;
}

.back {
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: var(--goldTitle);
}

form input,
form textarea {
    width: 100%;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
}

.labelAndInput {
    text-align: left;
    width: 100%;
}

.labelAndInput:first-child {
    margin-top: 1rem;
}

.labelAndInput label {
    padding-left: 0.3rem;
}

form input[type="submit"] {
    background-color: var(--goldTitle);
    border: 1px solid #463714;
    width: 100%;
    align-self: flex-end;
    margin-top: 0.5rem;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

form input[type="submit"]:hover {
    background-color: whitesmoke;
    background: linear-gradient(to right, #785a28 50%, #c89b3c);
    color: whitesmoke;
    border: 1px solid #463714;
    cursor: pointer;
}

.loginOrRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.loginOrRegister button {
    padding: 0.6rem;
    width: 50%;
    border: none;
    background: none;
    font-size: 16px;
    color: #a09b8c;
}

.loginOrRegister button:disabled {
    color: rgb(218, 218, 218);
    font-weight: bold;
    border-bottom: 3px solid var(--goldTitle);
}

.errorInput {
    border: 1px solid red;
    background-color: var(--melon);
}

.errorMessage {
    display: none;
    color: red;
    margin-left: 0.3rem;
    font-style: italic;
    font-size: 14px;
}
