footer {
    background-image: linear-gradient(       to bottom,#091428 , #005A82, #0AC8B9   );
    font-family: 'Roboto', sans-serif;
  }
  
  footer p:first-child{
      font-size: 25px;
  }
  
  footer p:nth-child(2){
      font-size: 14px;
  }
  
   #footer-main-button {
      background-color: var(--secondary-color);
      color: #000;
      border-radius: 1rem;
      color: var(--tertiary-color);
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      margin: 10px 0;
      font-size: 16px;
      padding: 8px 19px; }